<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>


<body>

<!--Text-->
<h1 th:text="${name}"></h1>
<h3 th:text="${course}">/</h3>
<h2 th:text="${subject}"></h2>
<h3 th:text="${id}"></h3>
<h1 th:text="${numbers}"></h1>
<h1 th:text="${numbers.get(0)}"></h1>
<h1 th:text="${birthday}"></h1>
<h2 th:text="${'Welcome to '+course+' subject '+name+', your id is '+id}"></h2>
<h1 th:text="${student.getFirstName()}"></h1>
<h1 th:text="${student.lastName}"></h1>

<!--Link-->
<a th:href="@{https://google.com}">This is a link</a>
<a th:href="@{/student/register}">Register</a>

<!--Adding parameters to link-->
<a th:href="@{/student/welcome(id=3)}">Link2</a>
<a th:href="@{/student/welcome(id=${student.id})}">Link3</a>

</body>


</html>